{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="main-container">

        <div id="header-container">
            <h1>To do App</h1>
        </div>

        <div id="add-button">
            <a href="add_task" id="add-task-link">
                <span>add new task</span>
            </a>
        </div>

        {% for x in tasks %}
            <div class="task-container">

                <div class="task-text">
                    <p><b class="title">{{ x.title }}</b> - {{ x.description }}</p>                   
                </div>
                
                <div class="task-edit">
                    <a href="" class="done-link"><b>mark as done</b></a>
                    <a href="" class="edit-link"><b>edit</b></a>
                    <a href="" class="delete-link"><b>delete</b></a>
                </div>

            </div>            
        {% endfor %}

    </div>  
</body>
</html>

